@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

@theme {
  --color-primary: #CC8400;
  --color-dark-grey: #1A1A1A;
}

body {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}